.ghe {
  width: 30px !important;
  height: 30px !important;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(148, 148, 148);
  color: #fff;
  margin: 5px;
}

.screen {
  background-color: #fff; /* Màu nền trắng */
  filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
  font-size: 25px;
  color: black;
}

.gheDangDat {
  background-color: rgb(21, 128, 61) !important;
  font-weight: bold;
}

.gheDaDat {
  background-color: rgb(63, 62, 62) !important;
  cursor: no-drop;
}
.gheVip {
  background-color: rgb(220, 38, 38);
}

.shadow-box {
  box-shadow: rgb(255 255 255 / 81%) 0px 5px 15px !important;
}
